<h2>Site d'édition de livre Jeunesse « Les Carillonneurs »</h2>
<nav class="navbar navbar-dark">
  <div class="container">
    <a mat-button routerLink="/propos" routerLinkActive="active">A propos</a>
    <a mat-button routerLink="/livre" routerLinkActive="active">Livres</a>
    <a mat-button routerLink="/auteur" routerLinkActive="active">Auteurs</a>
    <a mat-button routerLink="/projet" routerLinkActive="active">Projets</a>
    <a mat-button routerLink="/contacte" routerLinkActive="active">Contact</a>
    <a mat-button routerLink="/carillonner" routerLinkActive="active">Carillonner</a>
  </div>
</nav>

