<div>
  <h2>{{title}}</h2>
  <img src="assets/doge.jpg">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a mat-button routerLink="/home" routerLinkActive="active">A propos</a>
      <a mat-button routerLink="/livre" routerLinkActive="active">Livres</a>
      <a mat-button routerLink="/auteur" routerLinkActive="active">Auteurs</a>
      <a mat-button routerLink="/projet" routerLinkActive="active">Projets</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      <a mat-button routerLink="/carillonner" routerLinkActive="active">Carillonner</a>
    </div>
  </nav>
</div>
