<div class="product woocommerce">
  <figure class="img-canvas frame">
    <a href="/produit/vivons-monde-lasie/">
      <img width="300" height="300" src="/app/uploads/2014/10/9782940520596-1-300x300.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="9782940520596" title="9782940520596" srcset="/app/uploads/2014/10/9782940520596-1-300x300.jpg 300w, /app/uploads/2014/10/9782940520596-1-150x150.jpg 150w, /app/uploads/2014/10/9782940520596-1-768x768.jpg 768w, /app/uploads/2014/10/9782940520596-1-1024x1024.jpg 1024w, /app/uploads/2014/10/9782940520596-1-1000x1000.jpg 1000w, /app/uploads/2014/10/9782940520596-1-160x160.jpg 160w, /app/uploads/2014/10/9782940520596-1-180x180.jpg 180w, /app/uploads/2014/10/9782940520596-1-600x600.jpg 600w, /app/uploads/2014/10/9782940520596-1.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px">
    </a>
    <figcaption></figcaption>
  </figure>
  <div class="box-book">
    <div class="titre">
      <a href="/produit/vivons-monde-lasie/" title="Vivons le monde : l’Asie"><h2>Vivons le monde<span style="font-size: 0.67em">&nbsp;</span>: l’Asie</h2></a>
      <div class="author">
        <a href="/pa_auteur/johan-dayt/">
          Johan Dayt					</a>
        <a href="/pa_auteur/pauline-basset/">
          Pauline Basset					</a>
      </div>
    </div>

    <p class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">€</span>&nbsp;9.90</span></p>
    <div class="panier">
      <form class="cart" method="post" enctype="multipart/form-data">
        <input type="hidden" name="add-to-cart" value="4119">
        <button type="submit" class="single_add_to_cart_button btn btn_color-2">
          Ajouter au panier 				</button>
      </form>



    </div>
  </div>
</div>
<div id="paypal-button"></div>
