

<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>


<div class="body">
  <br/>
  <h1>Je veux être un carillonneur !</h1>
  <br/>
  <p>Mais c'est quoi au juste être un carillonneur ?
    Etre un carillonneur, c'est s'attacher à des valeurs et se reconnaitre en ces termes :</p>


  <h3>Curieux</h3>

  <p>Le curieux a la force, le courage de découvrir et de chercher à comprendre.
    Un carillonneur est guidé par sa curiosité.</p>

  <h3>Rêveur</h3>

  <p>Le rêveur songe à réaliser ce qui semble impossible, son imagination ne fait que grandire.
    Un carillonneur va au bout de ses rêves.</p>

  <h3>Bienveillant</h3>

  <p>Etre bienveillant c'est s'interesser aux autres dans toute leur diversité et ne pas hésiter à apporter son aide.
  Un carillonneur est heureux de partager du bonheur... et du bruit aussi !</p>


  <p>Un carilloneur est un sonneur, un faiseur de bruit. Il fait résonner la joie où il se trouve.</p>

  <p>Carillonnez, faites du bruit !
  Les carillonneurs, l'éditeur qui fait du bruit. Pour tenter de comprendre le monde qui nous entoure, sans cesser d'en imaginer d'autres, nous vous proposons de plonger dans nos différents livres.</p>

  Vas y avoir du bruit
</div>

